In [8]:
# 1. Load & Quick Overview
# Load large_employee_data.csv

# Show:

# .head(), .info(), .describe()

# Missing value count for each column


import pandas as pd

df = pd.read_csv('large_employee_data.csv')
print(df)
df.head(10)
df.info()
df.describe()
df.isnull().sum()

       Name   Age Department  Salary  Performance_Score  Years_At_Company
0      Mona  34.0  Marketing   96153               99.0                 5
1      Omar  38.0    Finance   76404               98.0                10
2     Fahad  29.0      Sales   36309               84.0                 2
3      Lina  28.0         IT  114675               81.0                 0
4      Mona  29.0      Sales   98326               93.0                 4
...     ...   ...        ...     ...                ...               ...
4995   Mona  30.0  Marketing   82926               89.0                 4
4996   Omar  25.0      Sales  109543                NaN                14
4997   Lina  25.0  Marketing   54300               92.0                 0
4998   Zara  27.0      Sales  111711               74.0                12
4999   Omar  34.0      Sales  101509               88.0                 4

[5000 rows x 6 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               5000 non-null   object
 1   Age                4800 non-null   float64
 2   Department         5000 non-null   object
 3   Salary             5000 non-null   int64
 4   Performance_Score  4850 non-null   float64
 5   Years_At_Company   5000 non-null   int64
dtypes: float64(2), int64(2), object(2)
memory usage: 234.5+ KB

Name                   0
Age                  200
Department             0
Salary                 0
Performance_Score    150
Years_At_Company       0
dtype: int64

In [12]:
# Fill missing Age with the median (less sensitive to outliers than mean)

df["Age"] = df["Age"].fillna(df["Age"].median())
df.isnull().sum()

Name                   0
Age                    0
Department             0
Salary                 0
Performance_Score    150
Years_At_Company       0
dtype: int64

In [14]:
df.dropna(subset="Performance_Score",inplace = True)
print(df.isnull().sum())

Name                 0
Age                  0
Department           0
Salary               0
Performance_Score    0
Years_At_Company     0
dtype: int64

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4850 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               4850 non-null   object
 1   Age                4850 non-null   float64
 2   Department         4850 non-null   object
 3   Salary             4850 non-null   int64
 4   Performance_Score  4850 non-null   float64
 5   Years_At_Company   4850 non-null   int64
dtypes: float64(2), int64(2), object(2)
memory usage: 265.2+ KB